- board = local_assigns.fetch(:board, nil)
- @no_breadcrumb_container = true
- @no_container = true
- @content_wrapper_class = "#{@content_wrapper_class} gl-relative"
- @content_class = "issue-boards-content js-focus-mode-board"
- is_epic_board = board.to_type == "EpicBoard"
- if is_epic_board
  - breadcrumb_title _("Epic Boards")
- else
  - breadcrumb_title _("Issue Boards")
  = render 'shared/alerts/positioning_disabled'

= content_for :after_content do
  #js-right-sidebar-portal

- page_title("#{board.name}", _("Boards"))
- add_page_specific_style 'page_bundles/boards'

= render 'shared/issuable/search_bar', type: :boards, board: board
#board-app.boards-app.position-relative{ "v-cloak" => "true", data: board_data, ":class" => "{ 'is-compact': detailIssueVisible }" }
  %board-content{ ":lists" => "state.lists", ":disabled" => "disabled" }
  %board-settings-sidebar
